<%= load_pack("admin") %>

<div>
  <%= react_component "Alert", props: { initial: nil }, prerender: true %>

  <%= react_component "AdminSalesReportsPage", props: {
    countries: @countries,
    job_history: @job_history,
    form_action: admin_sales_reports_path,
    authenticity_token: form_authenticity_token,
  } %>
</div>
