<div>
  <%# TODO: When migrating to React/Inertia, use the Placeholder component instead of these Tailwind classes %>
  <div class="grid gap-3 rounded border border-dashed border-border p-6 text-center justify-items-center bg-filled">
    <h2 id="empty-message"><%= message %></h2>
  </div>

</div>
