// Use a partial selector here to allow for selecting .icon without it generating CSS for the _many_ usages that extend this.
%icon {
  content: "\00a0";
  display: inline-block;
  background: currentColor;
  min-height: max(1lh, 1em);
  width: 1em;
  mask-position: 50% 50%;
  mask-size: 120%;
  mask-repeat: no-repeat;
  flex-shrink: 0;

  &::after {
    content: "\00a0";
  }
}

.icon {
  @extend %icon;
}

@each $icon in $icons {
  .icon-#{$icon} {
    mask-image: url("~images/icons/#{$icon}.svg");
  }
}
