.rich-text {
  &,
  .ProseMirror {
    > * {
      margin-bottom: spacer(4);
    }
  }

  h1 {
    margin-bottom: spacer(5);
  }

  h2,
  h3 {
    margin-top: spacer(6);

    &:first-child {
      margin-top: 0;
    }
  }

  ul:not(.inline),
  ol {
    margin-left: spacer(4);
  }

  li:not(:last-child) {
    margin-bottom: spacer(4);
  }

  hr {
    margin: spacer(6) 0;
  }

  p {
    margin-bottom: spacer(4);
  }

  blockquote {
    padding-left: spacer(6);
  }

  figure:not(.tailwind-override) {
    margin-bottom: spacer(5);

    img {
      width: 100%;
      object-fit: contain;
      border-radius: border-radius(1);
    }

    figcaption,
    .figcaption {
      padding-left: spacer(1);
      margin: spacer(3) 0 0 0;
    }
  }

  pre {
    border: $border;
    border-radius: border-radius(1);
    margin-bottom: spacer(4);
    padding: spacer(2) spacer(3);
    white-space: pre-wrap;

    .copy-wrapper {
      float: right;
      display: none;
    }

    &:hover {
      .copy-wrapper {
        display: initial;
      }
    }

    .hljs {
      &-comment,
      &-quote {
        @include text-muted;
      }

      &-variable,
      &-template-variable,
      &-attribute,
      &-name,
      &-regexp,
      &-link,
      &-name,
      &-selector-id,
      &-selector-class {
        color: #99568b;
      }

      &-tag,
      &-number,
      &-meta,
      &-built_in,
      &-builtin-name,
      &-literal,
      &-type,
      &-params {
        color: #667399;
      }

      &-string,
      &-symbol,
      &-bullet {
        color: #156059;
      }

      &-title,
      &-section {
        color: #78716c;
      }

      &-keyword,
      &-selector-tag {
        color: #91921f;
      }

      &-attr {
        color: var(--color);
      }

      &-emphasis {
        font-style: italic;
      }

      &-strong {
        font-weight: 700;
      }
    }
  }

  .embed {
    border: $border;
    border-radius: border-radius(1);
    @include bg-color(filled);

    > .preview {
      background-color: var(--body-bg);
      border-radius: border-radius(1) border-radius(1) 0 0;
      grid-template-columns: 1fr;
      border-bottom: $border;
      margin: -1 * spacer(4);
      max-width: unset;
      margin-bottom: spacer(2);
      position: relative;
      aspect-ratio: 16 / 9;

      > :first-child {
        top: 0;

        &.placeholder {
          height: calc(100% - 2 * spacer(4));
          place-content: center;
          margin: spacer(4);
        }
      }
    }

    .content h4 {
      font-weight: bold;
      @include max-lines(1);
      word-break: keep-all;
    }

    .content > .thumbnail {
      position: relative;
      width: size(4);
      height: size(3);
      margin-right: spacer(2);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: border-radius(1);
      }

      .placeholder {
        position: absolute;
        inset: 0;
        padding: 0;
        background: $backdrop-bg;
      }

      &:hover .placeholder {
        border-color: full-color(accent);
        color: full-color(accent);
      }

      &:not(:hover) img + .placeholder {
        opacity: 0;
      }
    }
  }
}
