<main class="single-page-form horizontal-form">
  <header>
    <h1>Affiliates</h1>
  </header>
  <div>
    <%# TODO: When migrating to React/Inertia, use the Placeholder component instead of these Tailwind classes %>
    <div class="grid gap-3 rounded border border-dashed border-border p-6 text-center justify-items-center bg-filled">
      <h2><%= @message %></h2>
      <div>You can always check all your affiliate requests <%= link_to "here", affiliates_path %>.</div>
    </div>
  </div>
</main>
