<% charge_info = receipt_presenter.charge_info %>
<div class="receipt">
  <div class="info-row">
    <span class="info-label">Order ID:</span>
    <span class="info-value"><%= charge_info.order_id %></span>
  </div>
  <div class="info-row with-top-margin">
    <span class="info-label">Order date:</span>
    <span class="info-value"><%= charge_info.formatted_created_at %></span>
  </div>
  <% if charge_info.formatted_total_transaction_amount.present? %>
    <div class="info-row with-top-margin">
      <span class="info-label">Total:</span>
      <span class="info-value"><%= charge_info.formatted_total_transaction_amount %></span>
    </div>
  <% end %>
</div>
